nav.navbar {
  padding-top: 50px;
  padding-bottom: 0;
  z-index: 100;
  margin-top: 15px;
  margin-left: 3%;
  border: none;
  display: flex;
}
.logo-button {
  margin-bottom: 30px;
}
.logo {
  position: absolute;
  margin-top: -55px;
  float: left;
  display: block;
}

a.home-button.nav-link {
  margin-right: 35px;
  color: black;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
.nav-bar-buttons {
  margin-top: -14%;
  padding: 1%;
  text-align: right;
  margin-left: 60%;
}
.navbar-toggler {
  margin: 0 auto;
}
.collapse {
  border: none;
}

button.navbar-toggler {
  margin-left: 90%;
  margin-top: -6%;
  display: block;
  float: right;
  z-index: 100;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
.nav-link {
  margin-top: 100px;
}
a.auth-option-nav.nav-link {
  margin-top: 40px;
}
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  display: none;
}
.login-button {
  margin-top: -10%;
  background-color: transparent;
  margin-right: 5%;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding-top: 0;
}
.row-employee {
  margin-top: -23%;
  background-color: transparent;
  margin-right: 3%;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.employee-button, .login-button, .logout-button{
  border: none;
  background: transparent;

}
.row-logout {
  background: transparent;
  border: none;
  /* margin-bottom: -10px; */
  /* margin-top: -25%; */
  margin-right: 3%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}
.auth-options {
  margin-right: 4%;
  /* bottom: 0; */
  margin-top: -40%;
}
a.btn.btn-primary,
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  background-color: transparent;
  border: none;
  color: black;
  font-family: "Roboto", sans-serif;
  margin-top: -6%;
  margin-left: 70%;
}
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    display: flex;
    width: 100%;
  }
  .login-button {
    margin-top: 25%;
    background: transparent;
    border: none;
    display: flex;
    float: right;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
  .row-logout {
    /* margin-top: -6%; */
    background: transparent;
    border: none;
    margin-right: 40%;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
  }
  
  .row-employee {
    margin-bottom: -10px;
    display: block;
    cursor: pointer;
    padding-bottom: 5px;
    margin-right: 80%;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
  }
 
  .btn-group > .btn:not(:first-child),
  .btn-group > .btn-group:not(:first-child) > .btn {
    /* display: block; */
    margin-left: -5%;
    display: none;

  }
  .navbar-nav .nav-link{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: -10px;
  }
  .align-me {
    text-align: right;
    /* bottom: 0; */
    /* margin-top: -10%; */
    /* display: inline-block; */
  }
  .nav-bar-buttons {
    z-index: 100;
    position: relative;
    display: block;
    margin-top: 5%;
    background-color: transparent;
    margin-left: -2%;
    width: 95%;
    height: 52px;
    border: 0.5px solid grey;
    margin-top: 4%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 2px grey;
    float: right;
    padding: 1%;
  }

  div.navbar-dropdown.dropdown.btn-group {
    margin-top: 2%;
    /* display: none; */
    float: right;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
  }
  nav.navbar {
    margin-bottom: -15px;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: relative;
    margin-left: 20%;
  }
  .home-button {
    z-index: 100;
    float: left;
    margin-top: -2px;
    margin-left: 1%;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
  a.dropdown-item {
    background-color: white;
    margin-top: -15%;
    display: none;
  }
 
  .logo {
    position: absolute;
    margin-top: -75px;
    float: left;
    display: block;

  }
  a.btn.btn-primary {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
}
