nav.navbar{
  /* margin-bottom: 10px; */
  /* background: rgb(246, 252, 250); */
}
.logo {
  height:150%;
  width: 150%;
  margin-left: 50%;
}
/* .row {

  display: block;
  margin: auto;
} */
.btn{
  background-color: white !important;
  color: black !important;
  /* color: white !important;
  background-color: black !important; */
  border: none;
  font-size: 17px;
  margin-top: -40px;
  border:white !important;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  /* background-color: #2699FB !important; */
}
ul{
  display: block;
  margin: auto;
}


