.admin-register{
  height: 60px;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: black;
  text-align: center;
}

.home-screen{
  margin-top: 3%;
}
h1, p, h5.card-title.card-title-home{
  text-align: center;
  margin-top: 1%;
}
svg:not(:root){
  height: 40px;
}
.card-home{
  margin: 3%;
  max-width: 500px;
 background-color: rgb(243, 243, 243);
  filter: drop-shadow(30px 10px 4px grey)
}
div.row.home-row{
  justify-content: center;
}