.register-button{
  display: none;
}
/* nav.auth-options{
  position: relative;
  bottom: 0;
  display: block;
  margin: auto;
} */

/* .login-button{
  background-color: transparent;
  margin-right: 3%;
  border: none;
  cursor: pointer;
}
.logout-button{
  background: transparent;
  border: none;
  margin-right: -50%;
  cursor: pointer;
}
.align-me{
  text-align: right;
  bottom: 0;
} */
