.content{
  justify-content: center;
}
.center-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.card-title{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 30px;
  margin-top: -15px;
  /* margin-left: 2%; */
}
.overflow-text{
  position: absolute;
  top: 0;
}
.descriptionArr{
  z-index: 100;
  float: right;
  margin-top: 120px;
  position:absolute;
  color: white;
  font-weight: 600;
  font-size: larger;
  margin-left: 10px;
}
.home-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  padding: 0px;
  border-radius: 15px;
}
.show{
  font-family: 'Roboto', sans-serif;
  margin: 2%;
}
.nav-item, .nav-link{
  color: rgb(33, 33, 163);
  font-size: large;

}
.large-rental-photo{
  border-radius: 15px;
}
.card{
  border: none;
}
.card-body{
  margin-left: 2%;
  margin-right: 2%;
}
.contact-btn{
  bottom: 0;
  border-radius: 12px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.book-btn{
  border-radius: 10px;
  float: right;
  background-color: blue;
  color: white;
  font-weight: 150;
  font-style: bold;
  border: none;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 10px;
  cursor: pointer;
}